@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
  
}

body {
    height: 4000px;
    font-family: 'Montserrat', sans-serif;
    background-color: darkslateblue
}

nav {
    background-color: black;
    display: inline-block;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

ul {
    list-style-type: none;
    float: right;
    margin-right: 5%;
    padding: 20px;
    
}

li, a {
    text-decoration: none;
    color: #FF8b2b;
    float: left;
    padding: 10px;
    margin: 10px;
}
h1 {
    text-align: center;
    margin-top: 50px;
    padding: auto;
    color: #FF8b2b;
}

p {
    display: inline-block;
    padding: 20px;
}
.logo {
    width: 5%;
    position: fixed;
    float: left;
    display: inline;
    margin-left: 20px;
    

}
.banner {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/677/302/non_2x/abstract-technology-banner-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25%;
    position: absolute;
    display: block;
    margin-top: 8%;
    padding-top: 20px;
    border-radius: 20px;
    font-size: 30px;
    background-blend-mode: overlay;
    
}

.boxes {
    box-sizing: border-box;
    margin-left: 10%;
    width: 80%;
    height: 50%;
    position: relative;
    padding-top: 30%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.produtos {
    width: 150px;
    height: 250px;
    margin-left: 30%;
    float: center;  
}

.produto {
    width: 20%;
    height: 25%;
    
}

.posicao-1 {
    position: absolute;
    float: left;
    
}

.posicao-2 {
    position: relative;
    margin-left: 30%;
    float: left;
}

.posicao-3 {
    position: relative;
   margin-right: 25%;
    float: left;
}