@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    background-image: 
    url('https://images.unsplash.com/photo-1541686130653-ccf10c61f8a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay; 
    font-family: 'Montserrat', sans-serif;
}

header {
    padding-top: 20px;
    padding-bottom: 20px; 
}

main {
    padding: 30px;
    
}
h1 {
    font-size: 56px;
    color: orangered;
    padding: 50px;
    text-align: center;
}

h2 {
    color: #FF4500;
    font-size: 2rem;
}
footer {
    margin-top: 20px;
}

ul {
    list-style-type: square;  
    color:black;
    font-size: 1.50rem;
    align-items: center;
    opacity: 100%;
}

li {
    line-height: 2rem;

}

footer {
    width: 100%;
    height: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: right;
    margin-left: auto;
    margin-right: 50px;
    background-color: gray;
    border-radius: 20px;

}
#subtitulo {
    text-align: center;
    color: #FF4500;
    opacity: 100%;
}
.text {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 30px;
    margin: auto;
    border: dotted; 
    border-radius: 20px;
    width: 60rem;
    height: 20rem;
   
}

.highlight {
    color: black;
    font-weight: bold;
    line-height: 30px;
}
.video {
    width: 1280px;
    height: 720px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    position: relative;
}

.ultima-secao {
    width: 100%;
    height: 30%;
    margin-top: 5%;
    padding: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.caixa {
    width: 50%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(128, 128, 128, .8);
    border-radius: 20px;
    align-items: center;
    z-index: -1;
}

.curiosidades {
    width: 50%;
    height: 30%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 40px;
    margin-right: 16px;

}